* {
  margin: 0;
  padding: 0;
}
.search {
  width: 20rem;
  height: 2.5rem;
  border: 0.1rem solid gray;
  border-radius: 3px;
  margin: 0 auto;
  background: url(../img/SecondHandList/search_03.png) no-repeat 17rem 0rem;
  background-color: white;
}
.search input {
  width: 15rem;
  height: 2.5rem;
  border: none;
  outline: none;
}
