* {
  margin: 0;
  padding: 0;
}
.tit_bg {
  height: 3rem;
  background-color: white;
}
.tit_bg p {
  line-height: 3rem;
  text-indent: 1rem;
}
.tit_bg p a {
  text-decoration: none;
  color: black;
}
.tit_bg p .tit1 {
  font-weight: 600;
}
.es_lis li .lis_left img {
  width: 8rem;
  height: 8rem;
}
.es_lis li .lis_right .mes3 .mes3_1 {
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
  border: 0.1rem solid green;
  color: green;
  background-color: #F5F5F5;
}
.es_lis li .lis_right .mes3 .mes3_2 {
  width: 8rem;
  color: #FF8A00;
  border: none;
  background-color: #F5F5F5;
  font-weight: 600;
  margin-left: 15rem;
}
.mb {
  z-index: 10;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 20rem;
  left: 0rem;
  background-color: rgba(122, 117, 117, 0.5);
  display: none;
}
.sel {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: white;
  border-top: 0.1rem solid #cecbcb;
  border-bottom: 0.1rem solid #cecbcb;
  margin-top: 1rem;
}
.sel .area {
  z-index: 10;
  width: 5rem;
  height: 4rem;
  background: url(../img/SecondHandList/arrow.png) no-repeat 2rem 0.8rem;
}
.sel .area .area_cont {
  display: none;
  width: 38rem;
  height: 30rem;
  background-color: white;
  margin-left: -4rem;
}
.sel .area .area_cont .area_title {
  width: 20%;
  float: left;
  height: 30rem;
  margin-left: 5rem;
}
.sel .area .area_cont .area_title a {
  font-size: 1.4rem;
  color: gray;
}
.sel .area .area_cont .lis {
  width: 70%;
  height: 30rem;
  margin-left: 5rem;
}
.sel .area .area_cont .lis a {
  width: 35%;
  color: black;
  font-size: 1.2rem;
}
.sel .area .area_cont .lis a li {
  float: left;
  width: 35%;
}
.sel .price .lis_price {
  width: 38rem;
  height: 30rem;
  background-color: white;
  margin-left: -12rem;
  display: none;
}
.sel .price .lis_price a {
  color: gray;
  font-size: 1.3rem;
}
.sel .price .lis_price a li {
  width: 30rem;
  height: 4rem;
  margin: 0 auto;
  border-bottom: 0.1rem solid #c3c0c0;
}
.sel .fx .lis_fx {
  width: 37.5rem;
  height: 35rem;
  background-color: white;
  margin-left: -20.5rem;
  font-size: 1.6rem;
  display: none;
}
.sel .fx .lis_fx li {
  border-bottom: 0.1rem solid #c3c0c0;
  height: 5rem;
}
.sel .fx .lis_fx li span {
  float: right;
}
.sel .fx .lis_fx button {
  width: 30rem;
  height: 3rem;
  margin-left: 4rem;
  background-color: orange;
  border: none;
  color: white;
  font-size: 1.7rem;
}
.sel .more .more_cot {
  width: 37.5rem;
  height: 50rem;
  background-color: white;
  margin-left: -29rem;
  font-size: 1.6rem;
  display: none;
}
.sel .more .more_cot .qy {
  width: 100%;
  height: 16rem;
  border-bottom: 0.1rem solid #b1b0b0;
}
.sel .more .more_cot .qy h3 {
  font-size: 2rem;
}
.sel .more .more_cot .qy span {
  display: inline-block;
  border: 0.1rem solid #b7b4b4;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  line-height: 3rem;
}